.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;   
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco-fundo);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

label{
    margin: 20px;
}

input{
    border-color:rgba(169, 169, 169, 0.205);
    border-radius: 3px;
    width: 200px;
    height: 37px;
}

button{
    margin: 20px;
}

.custom-select{
    width: 200px;
}

@media(max-width: 769px){
    :host ::ng-deep div.container {
    display: flex !important;
    flex-direction:row !important;
    align-items: center !important;
    justify-content: center;
    width: 100%;
  }

  :host ::ng-deep form {
    width: 80%;
    max-width: 400px;
  }


  :host ::ng-deep select {

  }

  :host ::ng-deep label{
    margin: 10px 0 0px 0;
    padding-right: 20px;

    align-self: flex-start;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 500;
  }

  :host ::ng-deep input{
    margin-top: 20px;
  }

  :host ::ng-deep select{
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }

  :host ::ng-deep .btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

 :host ::ng-deep .btn{
    width: 50%;
    padding: 10px;
 }
  
}


@media(max-width: 460px){
    :host ::ng-deep div.container {
    flex-direction: column !important;
    width: 100%;
  }

  :host ::ng-deep select,
  :host ::ng-deep button {
    display: flex;
    justify-content:flex-start;
    width: 80%;
    margin-top: 10px;
  }

  :host ::ng-deep label{
    margin: 10px 0 0px 0;
  }

}