.card-login {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  height: 100vh;           /* necessário para ocupar a altura total da tela */
  background-color:var(--cor-cinza-claro-fundo);
}

img{
    width: 40%;
    padding-bottom: 10px;
}

form{
    justify-content: center;
    width: 400px;       /* largura do formulário */
    height: 560px;
    margin: 0 auto;     /* centraliza na tela */
}

label{
    color: var(--cor-verde-azulado-escuro);
    font-size: small;
    font-weight: bolder;
}

a{
    font-size: small;
}

.alerta{
    color: var(--cor-alert-erro);
}

form button{
  width: 100%;
  font-weight: bold;
  background-color: var(--cor-ciano);
  margin: 5px 0 10px 0;
}

form button:hover {
  background-color: var( --cor-ciano-escuro);
  border-color: var(--cor-ciano);
  color: var(--cor-aliceblue);
}

.btn:active{
    background-color: var(--cor-ciano-escuro)!important;
}

/*olhinho ícone do font awesome import via CDN*/

.input-wrapper {
  position: relative;
  width: 100%;
}

.form-group i {
  cursor: pointer;
  color: var(--cor-verde-azulado-escuro);
}

.form-group i:hover {
  color: var(--cor-ciano-medio);
}

.input-wrapper input {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  padding-right: 40px; /* espaço para o ícone */
  box-sizing: border-box;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(50%); /* centraliza no input */
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 300px;
}

h5{
  font-weight: bold;
}



