 .login-container{
  min-height: 100vh;
  position: relative;
  
 }

.login-bg{
  position: absolute;
  inset: 0;
  background-image: url(/assets/img/bg_img_medico.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.login-card{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
    width: 40%;
    padding-bottom: 10px;
}

form{
    justify-content: center;
    width: 400px;       /* largura do formulário */
    height: 560px;
    margin: 0 auto;     /* centraliza na tela */
}

label{
    color: var(--cor-verde-azulado-escuro);
    font-size: small;
    font-weight: bolder;
}

a{
    font-size: small;
}

.alerta{
    color: var(--cor-alert-erro);
}

form button{
  width: 100%;
  font-weight: bold;
  background-color: var(--cor-ciano);
  margin: 5px 0 10px 0;
}

form button:hover {
  background-color: var( --cor-ciano-escuro);
  border-color: var(--cor-ciano);
  color: var(--cor-aliceblue);
}

.btn:active{
    background-color: var(--cor-ciano-escuro)!important;
}

/*olhinho ícone do font awesome import via CDN*/

.input-wrapper {
  position: relative;
  width: 100%;
}

.form-group i {
  cursor: pointer;
  color: var(--cor-verde-azulado-escuro);
}

.form-group i:hover {
  color: var(--cor-ciano-medio);
}

.input-wrapper input {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  padding-right: 40px; /* espaço para o ícone */
  box-sizing: border-box;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(50%); /* centraliza no input */
  cursor: pointer;
}

@media (max-width: 768px) {
  .login-container {
    display: flex;
    flex-direction: column;
  }

  .login-bg {
    position: static;
    height: 35vh;
  }

  .login-card {
    min-height: auto;
    padding: 1rem;
  }
}

