.cadastro-paciente-container{
  display: block;
  align-items: center;
}

form {
  width: 80%;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--cor-branco-fundo);
  border: 1px solid var(--cor-cinza-gelo-fundo);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  min-width: 180px;
}

label {
  font-weight: 600;
  color: #333333;
  margin-bottom: 5px;
}

input,
select {
  border: 1px solid var(--cor-cinza-medio);
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 40px 0 20px 0;
  width: 100%;
}

img{
    width: 5%;
}

h2{
  display:inline;
  text-align: center;
  color: var(--cor-ciano);
  font-weight: bold;
}

input:focus,
select:focus {
  border-color: var(--cor-ciano-claro);
  outline: none;
  box-shadow: 0 0 4px rgba(3, 234, 222, 0.58);
}

button[type="submit"] {
  display: block;
  width: 30%;
  margin: 20px auto 0;
  padding: 10px;
  font-weight: 600;
  border-radius: 6px;
  background-color: var(--cor-ciano);
  border: none;
  color: var(--cor-branco-fundo);
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: var(--cor-ciano);
}

.VoltarLogin{
  display: flex;
  justify-content: center;
  font-size:large;
  margin: 10px 0 50px 0;
}

.form-check a{
  padding-right: 40px;
}

/* Media Query */
@media (max-width: 937px){
  img{
    width: 10%;
  }
}

@media (max-width: 830px) {
  button.btn.btn-primary {
    width: 70% !important;
    max-width: 330px;           /* evita ultrapassar limites */
    font-size: 16px !important; /* aumenta o tamanho da fonte */
    padding: 14px 0 !important; /* aumenta a altura do botão */
    display: block;
    margin: 16px auto;          /* centraliza horizontalmente */
    box-sizing: border-box;
  }
  .form-check a label{
    font-size:smaller
  }
}

@media (max-width: 511px){
    .header-container {
    flex-direction: column;   /* muda o layout para coluna */
    align-items: center;      /* centraliza os itens horizontalmente */
    justify-content: center;  /* centraliza verticalmente (caso precise) */
    gap: 20px;                /* diminui o espaço entre os elementos */
  }

  .header-container img {
    width: 20%;               /* aumenta um pouco o tamanho da logo no mobile */
  }

  .header-container h2 {
    text-align: center;       /* garante alinhamento central */
    font-size: 1.4rem;        /* ajusta o tamanho da fonte */
  }
}