<div class="card-login">    
    <form container="flex" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light">
        <img src="assets/img/Logo_vidaPlus.svg" alt="Logo Vida Plus" class="d-block mx-auto">
        <div class="form-group">
            <label for="exampleDropdownFormEmail2">Endereço de email</label>
            <input formControlName="username" type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@exemplo.com">
                <div class="alerta" *ngIf="username?.touched && username?.invalid">
                    Digite seu e-mail.
                </div>
        </div>

        <div class="form-group">

            <div class="input-wrapper">
                <label for="exemploSenha">Senha</label>
                <input id="exemploSenha"
                    [type]="mostrarSenha ? 'text' : 'password'"
                    class="form-control"
                    formControlName="password"
                    placeholder="Digite sua senha"
                />
                <i class="fa-solid"
                    *ngIf="password?.value"
                    [ngClass]="mostrarSenha ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="alternarSenha()">
                </i>
            </div>

            <div class="alerta" *ngIf="password?.touched && password?.invalid">
                Digite sua senha.
            </div>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck2">
            <label class="form-check-label" for="dropdownCheck2">
                Lembrar de mim
            </label>
        </div>
        <button type="submit" class="btn .btn mb-2">Entrar</button>
        <div class="card-body text-center p-2">
            <a routerLink="">Não tem uma conta? Cadastre-se</a>
            <br>
            <a routerLink="">Esqueceu sua senha?</a>
        </div>
    </form>

        <!-- Modal de erro no login -->
    <div *ngIf="mostrarModalErro" class="modal-overlay">
    <div class="modal-content bg-danger text-white">
        <h5 class="mb-2">❌ Erro</h5>
        <p>{{ mensagemModal }}</p>
    </div>
    </div>
</div>
