<!-- componente pai reutiliza card-navegacao-->

<div class="cards-container">
    <app-card-navegacao rota="/medicos">
        <img card-icon src="assets/img/user-doctor-solid-full.svg" alt="ícone de um médico">
        <p card-content>Médicos</p>
    </app-card-navegacao>
  
    <app-card-navegacao rota="/consultas-agendadas">
        <img card-icon  src="assets/img/calendar-solid-full.svg" alt="ícone de calendário">
        <p card-content>Consultas agendadas</p>
    </app-card-navegacao>
    
    <app-card-navegacao rota="/nova-consulta">
        <img card-icon src="assets/img/stethoscope-regular-full.svg" alt="">
        <p card-content>Agendar consulta</p>
    </app-card-navegacao>

    <app-card-navegacao rota="/atualizar-cadastro">
        <img card-icon src="assets/img/file-pen-solid-full.svg" alt="ícone de papel e caneta">
        <p card-content>Atualizar Cadastro</p>
    </app-card-navegacao>
</div>


