.cards-container {
  display: flex;
  gap: 30px;         
  justify-content: center; 
  align-items: center;
  min-height: 65vh; 
  min-height: calc(100vh - 151px -144px); /* altura total menos a navbar 151px e o footer 144px */
}

/* Responsividade */

@media (max-width: 1024px) and (min-width: 200px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 151px);
    padding-top: 48px;
  }
}