.cards-container {
  display: flex;
  gap: 20px;         
  justify-content: center; 
  align-items: center;
  min-height: 65vh; 
}

.cards-container img{
  width: 50%;
  text-align: center;
  margin-top: 10px;
}

.cards-container p{
   font-weight: bold;
   color: var(--cor-verde-azulado-escuro)!important;
}

/* Responsividade */
@media (max-width: 988px) {
  .cards-container {
    flex-direction: column;  /* empilha os cards */
    align-items: center;     /* centraliza na tela */
  }

  .cards-container .card {
    max-width: 80%;   /* ocupa 90% da tela menor */
    margin-bottom: 15px;
  }
}
