img{
    width: 4%;
    margin-right: 10px;
}

.nav-link{
    font-weight: bold;
}

nav {
  box-shadow: 1px 2px 3px var(--cor-turquesa-escuro); /* sombra verde só embaixo */
}

@media (max-width: 660px) {
  img {
    width: 10%;
  }
}

@media (max-width: 308px) {
  img {
    width: 20%;
  }
}

