img{
    width: 4%;
    margin-right: 0.625rem;
}

.nav-link{
    font-weight: bold;
}

.nav-item{
    margin-left: 0.938rem;
}

.nav-link-group {
  display: flex;
  align-items: center;
  gap: 0.313rem;
  flex-direction: row;
}

.fa-solid{
  color: var(--cor-ciano);
}

.navbar .nav-link {
  color: var(--cor-ciano) !important;
}

.navbar .nav-link:hover {
  color: var(--cor-verde-azulado-escuro) !important;
}


nav {
  box-shadow: 1px 2px 3px var(--cor-turquesa-escuro); /* sombra verde sรณ embaixo */
}

@media (max-width: 660px) {
  img {
    width: 10%;
  }
}

@media (max-width: 308px) {
  img {
    width: 20%;
  }
}

