/* styles.css ou no componente pai */
html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh;   /* ocupa a tela toda */
  display: flex;
  flex-direction: column;  /* empilha os elementos */
}

main {
  flex: 1;  /* ocupa todo o espaço disponível */
}

footer {
  background: var(--cor-turquesa-escuro); /* exemplo */
  color: var(--cor-branco-texto);
  padding: 20px;
  text-align: center;
}

/*olho*/
.form-group {
  position: relative;
}

.form-group i {
  position: absolute;
  right: 15px;
  top: 38px;
  cursor: pointer;
  color: var(--cor-verde-azulado-escuro);
}

.form-group i:hover {
  color: var(--cor-ciano-medio);
}
