.cards-container {
  display: flex;
  gap: 20px;          /* espaço entre os cards */
  justify-content: center; /* centraliza na horizontal*/
  align-items: center;
  margin-top: 120px;
}

.card{
  transition: transform 0.2s ease; /* animação suave */
  cursor: pointer;
}
.card:hover{
  transform: translateY(-5px); /* "saltar" 5px para cima */
}

/* Responsividade */
@media (max-width: 519px), (max-height: 643px) {
  .cards-container {
    flex-direction: column;  /* empilha os cards */
    align-items: center;     /* centraliza na tela */
  }

  .cards-container .card {
    max-width: 90%;   /* ocupa 90% da tela menor */
    margin-bottom: 15px;
  }
}