<div class="cards-container">

    <div class="card">
        <app-card-medicos>
        <a routerLink="/medicos">Médicos</a>
        </app-card-medicos>
    </div>

    <div class="card">
        <app-card-consultas>
        <a routerLink="/consultas-agendadas">Ver Consultas</a>
        </app-card-consultas>
    </div>
    
    <div class="card">
        <app-card-agendar-consulta>
        <a routerLink="/nova-consulta">Agendar Consulta</a>
        </app-card-agendar-consulta>
    </div>
    
</div>


<router-outlet></router-outlet>
