<div *ngIf="carregando">Carregando consultas...</div>
<div *ngIf="erro">{{ erro }}</div>

<table *ngIf="!carregando && consultas.length">
  <thead>
    <tr>
      <th>Especialidade</th>
      <th>Médico</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let consulta of consultas">
      <td>{{ consulta.especialidade }}</td>
      <td>{{ consulta.nomeMedico }}</td>
      <td>{{ consulta.data }}</td>
      <td>
        <button (click)="cancelar(consulta)">Cancelar</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!carregando && !consultas.length">Nenhuma consulta encontrada.</div>


<router-outlet></router-outlet>
