
.form-group {
  position: relative;
}

/* olho da senha */
.form-group i {
  position: absolute;
  right: 15px;
  top: 38px;
  cursor: pointer;
  color: var(--cor-verde-azulado-escuro);
}

.form-group i:hover {
  color: var(--cor-ciano-medio);
}
/* olho da senha */

/* concordar com os termos */
.form-check a{
  padding-right: 40px;
}

.form-group .form-check{
  margin: 2rem 0 2rem 0;
}
/* concordar com os termos */

.VoltarLogin{
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 15px 0 10px 0;
}

@media (max-width: 937px){
  img{
    width: 10%;
  }
}