:root{
    --cor-ciano: #1BA9BF;
    --cor-ciano-claro: #4ed1e6;
    --cor-ciano-medio: #17a2b8;
    --cor-ciano-escuro: #128b95;
    --cor-turquesa-escuro:#038C8A;
    --cor-verde-azulado-escuro: #0b6a74;
    --cor-branco-fundo: #ffffff;
    --cor-cinza-gelo-fundo: #F7F7FB;
    --cor-cinza-claro-fundo: #6f6f6f18;
    --cor-cinza-medio: #ccc;
    --cor-Cinza-neutro-claro: #dcdcdc;
    --cor-preto-texto: #000000;
    --cor-aliceblue: aliceblue;
    --cor-branco-texto: #ffffff;
    --cor-alert-erro: red;
}


body{
    background-color: var(--cor-cinza-gelo-fundo);
    color:var(--cor-texto);
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box; /* faz com que padding/margem não quebre o layout */
}

html, body { 
    height: 100%; 
}

footer.bg-dark {
  background-color: var(--cor-turquesa-escuro) !important;
}


nav.navbar{
    margin-bottom: 20px;
    box-shadow: var(--cor-turquesa-escuro);
}

.titulo{
    text-align: center;
    color: var(--cor-ciano);
    font-weight: bold;
    margin:  40px 0 20px 0;
}

.card img{
  width: 50%;
  text-align: center;
  margin-top: 10px;
}

.card p{
   font-weight: bold;
   color: var(--cor-verde-azulado-escuro)!important;
}