/* You can add global styles to this file, and also import other style files */
body{
    background-color: #F7F7FB;
    color:black;
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box; /* faz com que padding/margem não quebre o layout */
}

html, body { 
    height: 100%; 
}

footer.bg-dark {
  background-color: #038C8A !important;
}


nav.navbar{
    margin-bottom: 20px;
    box-shadow: #038C8A;
}

.titulo{
    text-align: center;
    color: #1BA9BF;
    font-weight: bold;
    margin:  40px 0 20px 0;
}

